<div>
    <% @posts.each do |post| %>
    <div class="post">
        <h3>
            <%= post.title %>
        </h3>

        <p>
            <%= post.body%>
        </p>

        <% if user_signed_in? %>
          <p>
            <%= post.user.username%>
            Here
          </p>
        <% end %>
    </div>
        
    <% end %>

    
</div>